body{
background-color: aqua;
}
h1{
color: rgb(255, 255, 255);
background-color: blue;
}

#show_sketch
{
float:right;
}

canvas{
border: 5px solide white;
border-radius: 20px;
animation-name: example;
animation-duration: 4s;
margin-top: 50px;
animation-iteration-count: infinite;
}

@keyframes example{
from {box-shadow: 1px 1px 38px pink;}
to{box-shadow: 1px 1px 38px cyan;}
}

p{
padding-top: 10px;
font-size: 25px;
}

.copy_right_footer{
color: blue;
bottom: 0;
position: fixed;
line-height: 3;
width: 100%;
text-align: center;

}


